# Bancos de dados locais
*.sqlite3
*.sqlite
*.db

# Arquivos de ambiente e segredos
.env
.venv
env/
venv/
ENV/

# Python e bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs e arquivos temporários
*.log
*.pot
*.pem
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store